@import "../../assets/colors.scss";

.routine-component-container {
  height: 175px;
  max-height: 175px;
  width: 175px;
  max-width: 175px;
  background-color: $primary-color;

  display: flex;
  justify-content: center;
}

.routine-symbol-container {
  height: 100px;
  max-height: 100px;
  width: 100px;
  max-width: 100px;
  background-color: white;

  margin: auto;
  display: flex;
  justify-content: center;

  transition: all .4s;
  perspective: 1000px;
  transform-style: preserve-3d;

  img {
    width: 80%;
  }
}

.flip {
  transform: rotateY(180deg);
}
