@import "../../assets/colors.scss";

#departures-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bus-pane {
  display: flex;
  justify-content: space-between;

  p:first-child {
    margin-right: 1rem;
  }
}
