@import "../../assets/colors.scss";

.departures__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .departures {
    max-width: calc(50% - 10px);
    &:first-of-type {
      margin-right: 1em;
    }
  }
}

.bus-pane {
  p:first-child {
    margin-right: 10px;
  }
}
