@import "./common.scss";

p {
  margin: 0;
}

#root {
  width: 95%;
  height: 90%;
  margin: auto;
  @media only screen and (max-height: $small-device-height) {
    width: 100%;
    height: 100%;
  }
}

#container {
  height: 100%;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
}

#information-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin-right: 5rem;
}

#location {
  grid-column: 1;
  grid-row: 1;
}

.city-bike__wrapper {
  grid-column: 3 / span 3;
  grid-row: 1 / span 1;
}

#atb-container {
  margin-top: 1rem;
  grid-column: 1 / span 5;
  grid-row: 3 / span 3;
}

#home-control-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
