@import "../assets/colors.scss";
@import "../assets/mixins.scss";

$small-device-height: 600px;

.info-container {
  height: min-content;
  background-color: $primary-color;
  padding: 20px;
  color: white;
  @media only screen and (max-height: $small-device-height) {
    padding: 10px;
  }
}

.info-container:last-child {
  margin-bottom: 0;
}

.title {
  margin-top: 0;
  padding-bottom: 0.4rem;
  border-bottom: 5px solid white;
  @media only screen and (max-height: $small-device-height) {
    padding-bottom: 0.1rem;
    margin-bottom: 0.3rem;
  }
}

.first-box {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.second-box {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

%pane {
  position: relative;
  color: black;
  background-color: white;
  font-size: 1rem;
  font-weight: 500;

  padding: 0.5rem;
  margin-bottom: 1rem;
  @media only screen and (max-height: $small-device-height) {
    padding: 0.3rem;
    margin-bottom: 0.5rem;
  }
}

.pane {
  @extend %pane;
}

.text-pane {
  @extend %pane;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .text-pane__description {
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    max-width: 70%;

    .overflowing {
      animation: linear overflow-text 10s infinite running;
      @include keyframes(overflow-text) {
        from {
          margin-left: 100%;
        }
        to {
          margin-left: -200%;
        }
      }
    }
  }

  .text-pane__value {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
  }
}g

button {
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  
  cursor: pointer;
  padding: 0.5rem 2rem;
  margin-left: 1.5rem;
};
